{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>添加分类</span></li>
</ol>

<div class="container-fluid">
    <form action="/admin/classify/add" method="post">
        <div class="form-group">
            <label for="classify">请输入分类名称</label>
            <input type="text" class="form-control" id="classify" placeholder="请输入分类名称" name='classify'>
          </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <p>{{ message }}</p> 
</div>

{% endblock %}