{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>内容添加</span></li>
</ol>

<div class="container-fluid">
    <form action="/admin/content/add" method="post">
        <!-- 下拉选择分类 -->
        <div class="form-group">
            <label for="classify">请输入分类名称</label>
            <select name="classify" id="classify" class="form-control">
                {% for classify in classifyInfo %}
                    <option value="{{ classify.id }}">{{ classify.classify }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- 标题输入 -->
        <div class="form-group">
            <label for="title">标题:</label>
            <input type="text" class="form-control" id="title" placeholder="请输入标题" name='title'>
        </div>

        <!-- 作者输入 -->
        <div class="form-group">
            <label for="author">作者:</label>
            <input type="text" class="form-control" id="author" placeholder="请输入作者" name='author'>
        </div>

        <!-- 简介输入 -->
        <div class="form-group">
            <label for="description">简介:</label>
            <textarea name="description" id="description" rows="5" class="form-control"></textarea>
        </div>

        <!-- 全部内容 -->
        <div class="form-group">
            <label for="content">内容:</label>
            <textarea name="content" id="content"rows="15" class="form-control"></textarea>
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <p>{{ message }}</p> 
</div>

{% endblock %}